@charset "utf-8";

header, section, footer, aside, nav, article, figure { 
	display: block; 
}

body {
	font-family: "Gill Sans MT";
	font-size: 12px;
	width: 1000px;
	margin: 0 auto;
}

/*-- header stylesheet --*/

#top-logo {
	letter-spacing: 1px;	
	color:#000;
	text-shadow: 5px 5px 7px #666666;
	font-weight: bold;
	font-size: 14px;
	padding-left: 40px;
	border-radius: 0px; 
	-webkit-box-reflect: below 10px
	  -webkit-gradient(linear, left top, left bottom, 
					   from(transparent), to(rgba(255, 255, 255, 0.3)));
}

#top-page {	
	height:100px;
}

#top-page p {
	text-align:right;
}

/* --navigation stylesheet-- */

#nav-principal {
	border-top: 1px solid #CCC;
	text-align: right;

}

#nav-principal ul li {
	display: inline;
	font-weight:bold;
	padding-left: 10px;
}

/* --section stylesheet-- */

#article-home p {
	text-align:left;
}


/* --section stylesheet-- */

#section-about {
	margin-top:1000px;
}

#section-about p {
	text-align:justify;
}

/*-- footer stlesheet --*/

#bottom-page {
	height: 300px;
}

#botton-zone {
	width:398px;
	height: 165px;
	padding-left:100px;
	padding-top:50px;	
	float:left;
}

#botton-copy {
	text-align: center;
	font-size: 90%;
	border-top: 1px solid #CCC;
	clear: both;
}

/*-- administration zone --*/

#article-admin {
	height: 400px;
	border: 1px solid #CCC;
}

#article-modules {
	width: 197px;
	float: left;	
	height: 400px;
}

#article-modules p {
	font-weight: bold;
	padding-left: 20px;	
}

#article-op {
	width: 797px;
	float: left;	
	height: 400px;	
	border-left: 1px solid #CCC;		
}

#article-op p {
	padding-left: 20px;	
}

#article-db {		
	padding-left: 20px;	
}

#textoadmin {
	width: 300px; 
	margin: 100px auto;	
}

/* -- Form -- */

[type="password"], [type="text"], [type="submit"] {
	font-family:"Gill Sans MT";
}

:required {
	border-color: #88a;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 255, .5);
}